.container {
  min-height: 80vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
}

.inner {
  width: 80vw;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
